body {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: linear-gradient(270deg, rgba(72, 148, 135, 0.83) 0%, rgba(42, 78, 98, 0.83) 101.07%);
    overflow: hidden;
}
.Questionbox {
    position: absolute;
    width: 23.9vw; 
    aspect-ratio: 459 / 700;
    left: 5.05vw; 
    top: 14vh; 
    background: #A3D1D4;
    border-radius: 2.6vw; 
}

.skipButton {
    position: absolute;
    width: 17.14vw;
    height: 3.37vw;
    bottom: 20px; /* Adjust bottom position */
    left: 50%; /* Adjust left position */
    transform: translateX(-50%); /* Center horizontally */
    
    background: #66D8D8;
    box-shadow: 0.67vw 0.53vw 0.8vw rgba(0, 0, 0, 0.35);
    border-radius: 1vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.skipButtonText {
    position: absolute;
    height: 4.07vh; /* 44px / 1080px * 100 */
    left: 3vw; /* 17px / 1920px * 100 */
    right: 0.83vw; /* 16px / 1920px * 100 */
    top: calc(50% - 4.07vh / 2);
    
    font-family: 'Salsa';
    font-style: normal;
    font-weight: 400;
    font-size: 1.67vw; /* 32px / 1920px * 100 */
    line-height: 134.77%;
    
    display: flex;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg, #000000 40%, #666666 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.teethBackground1 {
    position: absolute;
    width: 23.9vw; 
    aspect-ratio: 459 / 700; 
    left: 40.96vw;
    top: 14vh;
    background: #D3ECFF;
    border-radius: 2.6vw; 
}

.addRests {
    position: absolute;
    width: 17.14vw;
    height: 3.37vw;
    left:26vw;
    top: 33vw;
    border-radius: 1vw; 
    background: #66D8D8;
    box-shadow: 0.67vw 0.53vw 0.8vw rgba(0, 0, 0, 0.35);
}

.addRestsText {
    position: absolute;
    height: 4.07vh;
    left: 2vw;
    right: 0.83vw;
    top: calc(50% - 4.07vh / 2);

    font-family: 'Salsa';
    font-style: normal;
    font-weight: 400;
    font-size: 1.67vw;
    line-height: 134.77%;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.yourQuestion {
    position: absolute;
    width: 38.23vw; 
    height: 6.11vh;
    left: 11vw; 
    top: 13vh; 

    font-family: 'Salsa';
    font-style: normal;
    font-weight: 400;
    font-size: 1.95vw; 
    line-height: 134.77%;

    display: flex;
    align-items: center;
    color: #000000;
}

.AddSaddles {
    position: absolute;
    height: 4.63vh; /* 50px / 1080px * 100 */
    left: 10vw; /* 108px / 1920px * 100 */
    right: 49.58vw; /* 952px / 1920px * 100 */
    width: 50vw;
    top: 0.25vw;

    font-family: 'Salsa';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw; /* 37px / 1920px * 100 */
    line-height: 134.77%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


    display: flex;
    align-items: center;
    text-align: center;
    color: #92DADA;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.yourCase {
    position: absolute;
    width: 22.81vw; /* 438px / 1920px * 100 */
    height: 6.39vh; /* 69px / 1080px * 100 */
    left: 33.30vw; /* 601px / 1920px * 100 */
    top: 8.89vh; /* 96px / 1080px * 100 */
    
    font-family: 'Salsa';
    font-style: normal;
    font-weight: 400;
    font-size: 1.56vw; /* 30px / 1920px * 100 */
    line-height: 134.77%;
    
    display: flex;
    align-items: center;
    text-align: center;
    color: #E8E9E9;
    text-shadow: 8px 7px 15px rgba(0, 0, 0, 0.54);
}

.skipButton:hover {
    background-color: #66D8D8;
}


