.edit-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45vw;
  height: 55vh;
  padding: 0;
  background: #30505b;
  color: #bff9f2;
  border-radius: 2vw;
  box-shadow: 0.668vw 0.668vw 0.668vw rgba(0, 0, 0, 0.3);
  z-index: 1100;
  align-items: center;
  text-align: center;
}
.edit-details h2 {
  font-weight: 400;
  font-size: 1.6vw;
  margin: 0;
  padding: 0;
  position: absolute;
}
.edit-details h1 {
  position: relative;
  font-weight: 400;
  color: #d3ebdd;
  box-shadow: #bff9f2;
  font-size: 3vw;
  padding: 0;
  margin: 1vw;
}
.edit-details .error-message {
  font-weight: 400;
  font-size: 1vw;
  color: #ff6969;
  margin: 0;
  padding: 0;
  height: 1.5vw;
  position: absolute;
}
.edit-details input {
  width: 22vw;
  border: none;
  height: 2.3vw;
  font-family: "salsa";
  font-size: 1.5vw;
  position: absolute;
}
.edit-details button {
  background-color: #66d8d8;
  color: #000;
  border: none;
  border-radius: 0.8vw;
  cursor: pointer;
  position: absolute;
  font-family: "salsa";
  font-size: 1.5vw;
  margin: 0;
  width: 8.5vw;
  height: 3vw;

  box-shadow: 0.67vw 0.53vw 0.8vw rgba(0, 0, 0, 0.35);
}
.edit-details .edit-header1 {
  top: 14vh;
  left: 3vw;
}
.edit-details .edit-header2 {
  top: 24vh;
  left: 3vw;
}
.edit-details .edit-header3 {
  top: 34vh;
  left: 3vw;
}
.edit-details .edit-input1 {
  top: 14vh;
  left: 20vw;
}
.edit-details .edit-input2 {
  top: 24vh;
  left: 20vw;
}

.edit-details .edit-input3 {
  top: 34vh;
  left: 20vw;
}
#message1 {
  top: 11vh;
  left: 25vw;
}
#message2 {
  top: 21vh;
  left: 25vw;
}
#message3 {
  top: 31vh;
  left: 25vw;
}
.edit-details .save-btn {
  top: 44vh;
  right: 4vw;
}
.edit-details .cancel-btn {
  top: 44vh;
  left: 4vw;
}
