.Goto {
  position: absolute;
  width: 24vw;
  height: 3.2vw;
  margin: 0;

  background: #66d8d8;
  border-bottom: 0.2vw solid #000000;
  box-shadow: 0.668vw 0.534vw 0.802vw rgba(0, 0, 0, 0.35);
  border-radius: 1.336vw;
  border: none;

  font-family: "Salsa";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vw;

  align-items: center;
  text-align: center;

  color: #000000;
  text-shadow: 0vw 0.267vw 0.267vw rgba(0, 0, 0, 0.25);
  cursor: pointer;
  img {
    position: absolute;
    width: 3vw;
    left: 20.5vw;
    top: 0.4vw;
  }
}
.Goto:hover {
  width: 24.4vw;
  height: 3.6vw;
  img {
    width: 3.4vw;
  }
}

@media (max-width: 900px) {
  .Goto {
    width: 30vw;
    height: 4.3vw;
    font-size: 2.5vw;
    img {
      left: 26vw;
      top: 0.7vw;
      width: 3.5vw;
    }
  }
  .Goto:hover {
    width: 30.4vw;
    height: 4.5vw;
    img {
      width: 3.9vw;
    }
  }
}
