.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(270deg, rgb(36 69 84) 0%, rgb(60 123 113) 101.07%);
  color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
  z-index: 1100;
}

.confirmation-dialog p {
  margin-bottom: 1rem;
}

.confirmation-dialog button {
  font-family: 'Salsa', sans-serif;
  font-size: 1vw; /* Using vw for font-size */
  padding: 1vw 1.5vw; /* Using vw for padding */
  margin-left: 0.5vw; /* Using vw for margin */
  border: none;
  border-radius: 0.5vw; /* Using vw for border-radius */
  cursor: pointer;
  transition: all 0.3s ease;
}

.confirmation-dialog button:first-child {
  background: #66d8d8;
  color: #000;
  box-shadow: 0.1vw 0.1vw 0.5vw rgba(0, 0, 0, 0.3); /* Using vw for box-shadow */
}

.confirmation-dialog button:last-child {
  background: #e57373;
  color: #fff;
  box-shadow: 0.1vw 0.1vw 0.5vw rgba(0, 0, 0, 0.3); /* Using vw for box-shadow */
}

.confirmation-dialog button:hover {
  transform: scale(1.05);
}
