.reviewcanvas {
  position: absolute;
  display: block;
  margin: 20px auto;
  background: transparent;
  width: 14.85vw;
  height: 75vh;
  border-radius: 2.6vw;
  border: none;
  top: -0.5vh;
  left: 4.8vw;
  z-index: 0;
}
