.useraccountpage {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    270deg,
    rgb(36 69 84) 0%,
    rgb(60 123 113) 101.07%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.userheader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1vw;
  justify-content: center;
  background: linear-gradient(
    270deg,
    rgb(36, 69, 84) 0%,
    rgb(60, 123, 113) 101.07%
  );
  z-index: 1000;
}

.homeicon {
  position: absolute;
  left: 1vw;
  background: none;
}

.header h1 {
  font-size: 3vw;
  color: #bff9f2;
  margin: 0;
}

.account-list {
  position: absolute;

  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-left: 0;
  top: 10vw;
  left: 5vw;
  width: 90vw;
  overflow-y: auto;
  height: calc(100vh - 10vw);
}

.account-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1vw;
  padding: 1vw 2vw;
  margin-bottom: 1vw;
  box-shadow: 0 0.4vw 0.6vw rgba(0, 0, 0, 0.1);
}

.useraccountname {
  font-family: "Salsa", sans-serif;
  font-size: 2.1vw;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.user-icon-account {
  position: relative;
  width: 4vw;
  height: 4vw;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1vw;
}

.delete-button {
  font-family: "Salsa", sans-serif;
  font-size: 2vw;
  padding: 1vw 1.5vw;
  margin-left: 0.5vw;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  transition: all 0.3s ease;
}

.delete-button {
  background: #66d8d8;
  color: #000;
  box-shadow: 0.67vw 0.53vw 0.8vw rgba(0, 0, 0, 0.35);
  border-radius: 1.3vw;
}

.reset-button {
  background: #66d8d8;
  color: #000;
  box-shadow: 0.67vw 0.53vw 0.8vw rgba(0, 0, 0, 0.35);
  border-radius: 0.8vw;
}

.delete-button:hover,
.reset-button:hover {
  transform: scale(1.05);
}

.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
  z-index: 1100;
}

.confirmation-dialog p {
  margin-bottom: 1rem;
}
