.homebutton {
  position: fixed;
  width: 3vw;
  height: 3vw;
  top: 1vw;
  left: 1vw;
  margin: auto;
  padding: auto;
  border-radius: 1.002vw;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.homebutton img {
  width: 3vw;
  height: 3vw;
}
