.homebutton {
  position: fixed;
  width: 3vw;
  height: 3vw;
  top: 1vw;
  left: 1vw;
  margin: auto;
  padding: auto;
  border-radius: 1.002vw;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.homebutton img {
  width: 3vw;
  height: 3vw;
}

@media (max-width: 1000px) {
  .homebutton {
    width: 4vw;
    height: 4vw;
    font-size: 4vw;
  }

  .homebutton:hover {
    width: 4.4vw;
    height: 4.4vw;
    cursor: pointer;
    top: -0.2vw;
    left: 0.2vw;
  }
}
