body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.Assessorhome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #86c2f9;
  background-image: url(./assessorhomeng.png);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: center;
  background-blend-mode: normal;
  opacity: 1;
}
#assessorh1 {
  position: absolute;
  top: 11vw;
  left: 8vw;
}
#assessorh2 {
  position: absolute;
  top: 19vw;
  left: 8vw;
}
#assessorh3 {
  position: absolute;
  top: 27vw;
  left: 8vw;
}
#assessorh4 {
  position: absolute;
  top: 35vw;
  left: 8vw;
}
.assessorhomecontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  height: 43vw;
  width: 50vw;

  display: flex;
  flex-direction: column;   /* Stack items vertically */
  justify-content: flex-start; /* Align items to the top */
  align-items: center;      /* Center items horizontally */

  text-align: center;
  h1 {
    margin: 0;
    padding: 0;
    font-family: "Salsa";
    height: 11vw;
    width: 120%; /* Match container width */
    font-style: normal;
    font-weight: 400;
    font-size: 5.344vw;
    display: flex;
    align-items: center;
    justify-content: center; /* Center text horizontally */
    text-align: center;
  
    background: linear-gradient(90deg, #1d5641 0%, #243984 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    z-index: 3;
  }
}
