.missingteeth-btn {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background: transparent;
  margin: 0;
  padding: 0;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  transition: opacity 0.2s ease;
  z-index: 9;

  img {
    width: 2.3vw;
  }
}

#missingteeth-btn-1 {
  left: 19.4%;
  top: 41%;
  img {
    width: 3.1vw;
  }
}

#missingteeth-btn-2 {
  left: 20.6%;
  top: 34%;
  img {
    width: 3vw;
  }
}

#missingteeth-btn-3 {
  left: 22%;
  top: 26%;
  img {
    width: 3vw;
  }
}

#missingteeth-btn-4 {
  left: 24%;
  top: 21.3%;
  img {
    width: 2.4vw;
  }
}

#missingteeth-btn-5 {
  left: 25%;
  top: 15.5%;
  img {
    width: 2.5vw;
  }
}

#missingteeth-btn-6 {
  left: 28%;
  top: 10%;
  img {
    width: 2vw;
  }
}

#missingteeth-btn-7 {
  left: 32%;
  top: 5%;
  img {
    width: 2.2vw;
  }
}

#missingteeth-btn-8 {
  left: 40.6%;
  top: 3%;
  img {
    width: 2.56vw;
  }
}

#missingteeth-btn-9 {
  left: 51.5%;
  top: 3.3%;
  img {
    width: 2.5vw;
  }
}

#missingteeth-btn-10 {
  left: 62%;
  top: 5%;
  img {
    width: 2.1vw;
  }
}

#missingteeth-btn-11 {
  left: 67%;
  top: 10%;
  img {
    width: 2vw;
  }
}

#missingteeth-btn-12 {
  left: 67.5%;
  top: 15.5%;
  img {
    width: 2.5vw;
  }
}

#missingteeth-btn-13 {
  left: 69%;
  top: 21%;
  img {
    width: 2.5vw;
  }
}

#missingteeth-btn-14 {
  left: 68.5%;
  top: 26%;
  img {
    width: 3vw;
  }
}

#missingteeth-btn-15 {
  left: 70%;
  top: 34%;
  img {
    width: 3vw;
  }
}

#missingteeth-btn-16 {
  left: 70.5%;
  top: 40.83%;
  img {
    width: 2.8vw;
  }
}

/*lower half*/

#missingteeth-btn-17 {
  left: 70%;
  top: 53.5%;
  img {
    width: 2.5vw;
  }
}

#missingteeth-btn-18 {
  left: 69%;
  top: 60.5%;
  img {
    width: 3vw;
  }
}

#missingteeth-btn-19 {
  left: 68%;
  top: 68%;
  img {
    width: 3vw;
  }
}

#missingteeth-btn-20 {
  left: 68%;
  top: 76.5%;
  img {
    width: 2.5vw;
  }
}

#missingteeth-btn-21 {
  left: 65%;
  top: 82.5%;
  img {
    width: 2.3vw;
  }
}

#missingteeth-btn-22 {
  left: 63%;
  top: 87.5%;
  img {
    width: 2vw;
  }
}

#missingteeth-btn-23 {
  left: 57%;
  top: 89%;
  img {
    width: 1.7vw;
  }
}

#missingteeth-btn-24 {
  left: 50.5%;
  top: 90.3%;
  img {
    width: 1.6vw;
  }
}

#missingteeth-btn-25 {
  left: 43.7%;
  top: 90.2%;
  img {
    width: 1.6vw;
  }
}

#missingteeth-btn-26 {
  left: 37.5%;
  top: 89.2%;
  img {
    width: 1.68vw;
  }
}

#missingteeth-btn-27 {
  left: 31%;
  top: 87.5%;
  img {
    width: 2vw;
  }
}

#missingteeth-btn-28 {
  left: 27.5%;
  top: 82.7%;
  img {
    width: 2.18vw;
  }
}

#missingteeth-btn-29 {
  left: 24.5%;
  top: 76.5%;
  img {
    width: 2.6vw;
  }
}

#missingteeth-btn-30 {
  left: 22.7%;
  top: 68%;
  img {
    width: 3vw;
  }
}

#missingteeth-btn-31 {
  left: 21%;
  top: 60.5%;
  img {
    width: 3vw;
  }
}

#missingteeth-btn-32 {
  left: 21.9%;
  top: 53.5%;
  img {
    width: 2.44vw;
  }
}
