.teethBackground2 .rest-btn {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background: transparent;

  margin: 0;
  padding: 0;
  width: 0.7vw;
  height: 0.7vw;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 20;
  img {
    position: absolute;

    height: auto;
    top: 0;
    left: 0;
  }
}
.rest-btn:hover {
  opacity: 0.6; /*reduced opacity on hover */
}
/* occlusal */

/* upper right */

#rest-btn-1 {
  left: 23.5%;
  top: 41%;
  img {
    width: 0.8vw;
  }
}
#rest-btn-2 {
  left: 23%;
  top: 38.5%;
  img {
    width: 1vw;
  }
}

#rest-btn-3 {
  left: 23.9%;
  top: 34%;
  img {
    width: 1vw;
  }
}

#rest-btn-4 {
  left: 24.5%;
  top: 31.3%;
  img {
    width: 1vw;
  }
}

#rest-btn-5 {
  left: 26.5%;
  top: 26.5%;
  img {
    width: 1vw;
  }
}

#rest-btn-6 {
  left: 27%;
  top: 24.5%;
  img {
    width: 0.85vw;
  }
}

#rest-btn-7 {
  left: 27.5%;
  top: 21.5%;
  img {
    width: 0.85vw;
  }
}

#rest-btn-8 {
  left: 28%;
  top: 19.25%;
  img {
    width: 0.85vw;
  }
}

#rest-btn-9 {
  left: 29.5%;
  top: 16%;
  img {
    width: 0.85vw;
  }
}

/*upper right*/

#rest-btn-10 {
  left: 71%;
  top: 19.5%;
  img {
    width: 0.85vw;
  }
}

#rest-btn-11 {
  left: 69%;
  top: 15.5%;
  img {
    width: 0.85vw;
  }
}

#rest-btn-12 {
  left: 73%;
  top: 24.5%;
  img {
    width: 0.85vw;
  }
}

#rest-btn-13 {
  left: 71.5%;
  top: 21%;
  img {
    width: 0.85vw;
  }
}

#rest-btn-14 {
  left: 74%;
  top: 31.5%;
  img {
    width: 1vw;
  }
}

#rest-btn-15 {
  left: 72.5%;
  top: 26.5%;
  img {
    width: 1vw;
  }
}

#rest-btn-16 {
  left: 75.5%;
  top: 38.5%;
  img {
    width: 1vw;
  }
}

#rest-btn-17 {
  left: 75%;
  top: 34%;
  img {
    width: 1vw;
  }
}

#rest-btn-18 {
  left: 75%;
  top: 41%;
  img {
    width: 1vw;
  }
}

/*lower right*/

#rest-btn-19 {
  left: 72%;
  top: 58%;
  img {
    width: 1vw;
  }
}

#rest-btn-20 {
  left: 71.5%;
  top: 65.5%;
  img {
    width: 1vw;
  }
}

#rest-btn-21 {
  left: 73%;
  top: 60.5%;
  img {
    width: 1vw;
  }
}

#rest-btn-22 {
  left: 70%;
  top: 73.5%;
  img {
    width: 1vw;
  }
}

#rest-btn-23 {
  left: 72%;
  top: 67.75%;
  img {
    width: 1vw;
  }
}

#rest-btn-24 {
  left: 69%;
  top: 80%;
  img {
    width: 0.85vw;
  }
}

#rest-btn-25 {
  left: 70%;
  top: 76%;
  img {
    width: 0.85vw;
  }
}

#rest-btn-26 {
  left: 66%;
  top: 86%;
  img {
    width: 0.85vw;
  }
}

#rest-btn-27 {
  left: 68%;
  top: 82%;
  img {
    width: 0.85vw;
  }
}

/* lower right */

#rest-btn-28 {
  left: 31.5%;
  top: 86%;
  img {
    width: 0.85vw;
  }
}

#rest-btn-29 {
  left: 29%;
  top: 82.5%;
  img {
    width: 0.85vw;
  }
}

#rest-btn-30 {
  left: 29.5%;
  top: 80.5%;
  img {
    width: 0.85vw;
  }
}

#rest-btn-31 {
  left: 28%;
  top: 76.25%;
  img {
    width: 0.85vw;
  }
}

#rest-btn-32 {
  left: 28%;
  top: 74%;
  img {
    width: 1vw;
  }
}

#rest-btn-33 {
  left: 26%;
  top: 68%;
  img {
    width: 1vw;
  }
}

#rest-btn-34 {
  left: 26%;
  top: 66%;
  img {
    width: 1vw;
  }
}

#rest-btn-35 {
  left: 25%;
  top: 60.5%;
  img {
    width: 1vw;
  }
}

#rest-btn-36 {
  left: 25.5%;
  top: 58%;
  img {
    width: 1vw;
  }
}

/* Cingulum */

#rest-btn-37 {
  left: 30%;
  top: 14%;
  img {
    width: 0.75vw;
  }
}

#rest-btn-38 {
  left: 30.5%;
  top: 12%;
  img {
    width: 0.6vw;
  }
}

#rest-btn-39 {
  left: 33%;
  top: 11%;
  img {
    width: 0.75vw;
  }
}

#rest-btn-40 {
  left: 66%;
  top: 11%;
  img {
    width: 0.75vw;
  }
}

#rest-btn-41 {
  left: 68.5%;
  top: 12%;
  img {
    width: 0.6vw;
  }
}

#rest-btn-42 {
  left: 70.5%;
  top: 13.5%;
  img {
    width: 0.65vw;
  }
}

#rest-btn-43 {
  left: 62.5%;
  top: 90%;
  img {
    width: 0.7vw;
  }
}

#rest-btn-44 {
  left: 65%;
  top: 88.7%;
  img {
    width: 0.6vw;
  }
}

#rest-btn-45 {
  left: 66%;
  top: 87.25%;
  img {
    width: 0.65vw;
  }
}

#rest-btn-46 {
  left: 36%;
  top: 90%;
  img {
    width: 0.75vw;
  }
}

#rest-btn-47 {
  left: 33.5%;
  top: 89%;
  img {
    width: 0.6vw;
  }
}

#rest-btn-48 {
  left: 32%;
  top: 87.5%;
  img {
    width: 0.75vw;
  }
}

/* incisal */

/* upper */

#rest-btn-49 {
  left: 34%;
  top: 6%;
  img {
    width: 1vw;
  }
}

#rest-btn-50 {
  left: 43.5%;
  top: 3%;
  img {
    width: 1vw;
  }
}

#rest-btn-51 {
  left: 55%;
  top: 3.5%;
  img {
    width: 1vw;
  }
}

#rest-btn-52 {
  left: 64%;
  top: 6%;
  img {
    width: 0.85vw;
  }
}

/* lower */

#rest-btn-53 {
  left: 59.5%;
  top: 92%;
  img {
    width: 1vw;
  }
}

#rest-btn-54 {
  left: 52.5%;
  top: 93%;
  img {
    width: 1vw;
  }
}

#rest-btn-55 {
  left: 46%;
  top: 93%;
  img {
    width: 1vw;
  }
}

#rest-btn-56 {
  left: 39%;
  top: 92%;
  img {
    width: 1vw;
  }
}
#rest-btn-57 {
  left: 41%;
  top: 6.5%;
  img {
    width: 0.75vw;
  }
}
#rest-btn-58 {
  left: 44%;
  top: 5.3%;
  img {
    width: 0.6vw;
  }
}
#rest-btn-59 {
  left: 47%;
  top: 6%;
  img {
    width: 0.7vw;
  }
}
#rest-btn-60 {
  left: 58.5%;
  top: 6.5%;
  img {
    width: 0.7vw;
  }
}
#rest-btn-61 {
  left: 55.5%;
  top: 6%;
  img {
    width: 0.6vw;
  }
}
#rest-btn-62 {
  left: 52.4%;
  top: 6.5%;
  img {
    width: 0.6vw;
  }
}
