.teethBackground2 .retention-btn {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background: transparent;

  margin: 0;
  padding: 0;
  width: 1vw;
  height: 1vw;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 8;
  img {
    height: auto;
  }
}

.retention-btn:hover {
  opacity: 0.6; /*reduced opacity on hover */
}

/*Circumferential*/

/*Upper left*/

#retention-btn-1 {
  left: 25%;
  top: 41%;
  img {
    width: 2vw;
  }
}

#retention-btn-2 {
  left: 19%;
  top: 41%;
  img {
    width: 1.7vw;
  }
}

#retention-btn-3 {
  left: 26%;
  top: 34%;
  img {
    width: 2vw;
  }
}

#retention-btn-4 {
  left: 19%;
  top: 33%;
  img {
    width: 2vw;
  }
}

#retention-btn-5 {
  left: 26%;
  top: 35.5%;
  img {
    width: 2vw;
  }
}

#retention-btn-6 {
  left: 19%;
  top: 33%;
  img {
    width: 2vw;
  }
}

#retention-btn-7 {
  left: 28%;
  top: 26.5%;
  img {
    width: 2vw;
  }
}

#retention-btn-8 {
  left: 21%;
  top: 25.5%;
  img {
    width: 2vw;
  }
}

#retention-btn-9 {
  left: 27%;
  top: 27.5%;
  img {
    width: 2.1vw;
  }
}

#retention-btn-10 {
  left: 27%;
  top: 50%;
  img {
    width: 2vw;
  }
}

#retention-btn-11 {
  left: 29%;
  top: 21.5%;
  img {
    width: 1.5vw;
  }
}

#retention-btn-12 {
  left: 23%;
  top: 20.5%;
  img {
    width: 1.8vw;
  }
}

#retention-btn-13 {
  left: 27%;
  top: 22%;
  img {
    width: 2vw;
  }
}

#retention-btn-14 {
  left: 22.5%;
  top: 20.5%;
  img {
    width: 1.8vw;
  }
}

#retention-btn-15 {
  left: 31%;
  top: 16%;
  img {
    width: 1.5vw;
  }
}

#retention-btn-16 {
  left: 24%;
  top: 15%;
  img {
    width: 1.8vw;
  }
}

#retention-btn-17 {
  left: 29.5%;
  top: 17%;
  img {
    width: 1.8vw;
  }
}

#retention-btn-18 {
  left: 24%;
  top: 15%;
  img {
    width: 1.5vw;
  }
}

/*Upper right*/

#retention-btn-19 {
  left: 66%;
  top: 16%;
  img {
    width: 1.3vw;
  }
}

#retention-btn-20 {
  left: 71%;
  top: 15%;
  img {
    width: 2vw;
  }
}

#retention-btn-21 {
  left: 66%;
  top: 17%;
  img {
    width: 2vw;
  }
}

#retention-btn-22 {
  left: 73%;
  top: 15.5%;
  img {
    width: 1.7vw;
  }
}

#retention-btn-23 {
  left: 68%;
  top: 21%;
  img {
    width: 1.5vw;
  }
}

#retention-btn-24 {
  left: 73%;
  top: 20%;
  img {
    width: 2vw;
  }
}

#retention-btn-25 {
  left: 67%;
  top: 21.5%;
  img {
    width: 2vw;
  }
}

#retention-btn-26 {
  left: 74%;
  top: 20.5%;
  img {
    width: 1.8vw;
  }
}

#retention-btn-27 {
  left: 67%;
  top: 26%;
  img {
    width: 2.1vw;
  }
}

#retention-btn-28 {
  left: 74%;
  top: 25.5%;
  img {
    width: 2vw;
  }
}

#retention-btn-29 {
  left: 66%;
  top: 27%;
  img {
    width: 2.5vw;
  }
}

#retention-btn-30 {
  left: 75%;
  top: 26%;
  img {
    width: 2vw;
  }
}

#retention-btn-31 {
  left: 69%;
  top: 33.5%;
  img {
    width: 2.3vw;
  }
}

#retention-btn-32 {
  left: 76%;
  top: 33%;
  img {
    width: 2vw;
  }
}

#retention-btn-33 {
  left: 68.5%;
  top: 35%;
  img {
    width: 2.4vw;
  }
}

#retention-btn-34 {
  left: 76%;
  top: 33%;
  img {
    width: 2vw;
  }
}

#retention-btn-35 {
  left: 70%;
  top: 40%;
  img {
    width: 1.8vw;
  }
}

#retention-btn-36 {
  left: 76.5%;
  top: 40.5%;
  img {
    width: 1.8vw;
  }
}

/*Lower left*/

#retention-btn-37 {
  left: 68%;
  top: 53%;
  img {
    width: 1.5vw;
  }
}

#retention-btn-38 {
  left: 74%;
  top: 53%;
  img {
    width: 2vw;
  }
}

#retention-btn-39 {
  left: 67%;
  top: 60%;
  img {
    width: 2vw;
  }
}

#retention-btn-40 {
  left: 74%;
  top: 60.5%;
  img {
    width: 2vw;
  }
}

#retention-btn-41 {
  left: 66%;
  top: 60%;
  img {
    width: 2vw;
  }
}

#retention-btn-42 {
  left: 74%;
  top: 62%;
  img {
    width: 2.1vw;
  }
}

#retention-btn-43 {
  left: 66%;
  top: 68%;
  img {
    width: 2vw;
  }
}

#retention-btn-44 {
  left: 74%;
  top: 68%;
  img {
    width: 2vw;
  }
}

#retention-btn-45 {
  left: 65%;
  top: 67.5%;
  img {
    width: 2.1vw;
  }
}

#retention-btn-46 {
  left: 73%;
  top: 68.5%;
  img {
    width: 2.4vw;
  }
}

#retention-btn-47 {
  left: 67%;
  top: 76%;
  img {
    width: 1.5vw;
  }
}

#retention-btn-48 {
  left: 72%;
  top: 76.5%;
  img {
    width: 1.7vw;
  }
}

#retention-btn-49 {
  left: 67%;
  top: 76%;
  img {
    width: 1.3vw;
  }
}

#retention-btn-50 {
  left: 71.5%;
  top: 77%;
  img {
    width: 2.1vw;
  }
}

#retention-btn-51 {
  left: 64%;
  top: 81.5%;
  img {
    width: 1.8vw;
  }
}

#retention-btn-52 {
  left: 70.5%;
  top: 82.5%;
  img {
    width: 1.5vw;
  }
}

#retention-btn-53 {
  left: 63%;
  top: 82%;
  img {
    width: 1.5vw;
  }
}

#retention-btn-54 {
  left: 68%;
  top: 84%;
  img {
    width: 2vw;
  }
}

/*Lower right*/

#retention-btn-55 {
  left: 31%;
  top: 82%;
  img {
    width: 2vw;
  }
}

#retention-btn-56 {
  left: 27%;
  top: 82%;
  img {
    width: 1.3vw;
  }
}

#retention-btn-57 {
  left: 33%;
  top: 82%;
  img {
    width: 1.3vw;
  }
}

#retention-btn-58 {
  left: 26%;
  top: 83%;
  img {
    width: 2vw;
  }
}

#retention-btn-59 {
  left: 29.5%;
  top: 76%;
  img {
    width: 2vw;
  }
}

#retention-btn-60 {
  left: 25%;
  top: 76.5%;
  img {
    width: 1.5vw;
  }
}

#retention-btn-61 {
  left: 31%;
  top: 76%;
  img {
    width: 1.5vw;
  }
}

#retention-btn-62 {
  left: 24%;
  top: 77.5%;
  img {
    width: 2.1vw;
  }
}

#retention-btn-63 {
  left: 28%;
  top: 68.5%;
  img {
    width: 2.1vw;
  }
}

#retention-btn-64 {
  left: 21%;
  top: 68.5%;
  img {
    width: 2vw;
  }
}

#retention-btn-65 {
  left: 28.5%;
  top: 68%;
  img {
    width: 2vw;
  }
}

#retention-btn-66 {
  left: 20%;
  top: 69%;
  img {
    width: 2.6vw;
  }
}

#retention-btn-67 {
  left: 27%;
  top: 60%;
  img {
    width: 2vw;
  }
}

#retention-btn-68 {
  left: 19%;
  top: 60%;
  img {
    width: 2.3vw;
  }
}

#retention-btn-69 {
  left: 28%;
  top: 59.5%;
  img {
    width: 1.8vw;
  }
}

#retention-btn-70 {
  left: 19%;
  top: 61%;
  img {
    width: 2.6vw;
  }
}

#retention-btn-71 {
  left: 25%;
  top: 53%;
  img {
    width: 2vw;
  }
}

#retention-btn-72 {
  left: 20%;
  top: 53%;
  img {
    width: 2vw;
  }
}

/*Ring type*/

/*Upper left*/

#retention-btn-73 {
  left: 20%;
  top: 41%;
  img {
    width: 3.3vw;
  }
}

#retention-btn-74 {
  left: 19%;
  top: 41%;
  img {
    width: 3.3vw;
  }
}

#retention-btn-75 {
  left: 19%;
  top: 34%;
  img {
    width: 3.6vw;
  }
}

#retention-btn-76 {
  left: 19%;
  top: 33%;
  img {
    width: 4.1vw;
  }
}

/*Upper right*/

#retention-btn-77 {
  left: 68.5%;
  top: 33.5%;
  img {
    width: 4vw;
  }
}

#retention-btn-78 {
  left: 68%;
  top: 33.5%;
  img {
    width: 4vw;
  }
}

#retention-btn-79 {
  left: 68%;
  top: 40%;
  img {
    width: 4vw;
  }
}

#retention-btn-80 {
  left: 70%;
  top: 39.5%;
  img {
    width: 4vw;
  }
}

/*Lower right*/

#retention-btn-81 {
  left: 68%;
  top: 52%;
  img {
    width: 3.3vw;
  }
}

#retention-btn-82 {
  left: 69%;
  top: 52%;
  img {
    width: 3.3vw;
  }
}

#retention-btn-83 {
  left: 67%;
  top: 59%;
  img {
    width: 4vw;
  }
}

#retention-btn-84 {
  left: 67%;
  top: 59.5%;
  img {
    width: 4vw;
  }
}

/*Lower left*/

#retention-btn-85 {
  left: 19%;
  top: 52%;
  img {
    width: 3.7vw;
  }
}

#retention-btn-86 {
  left: 19%;
  top: 52%;
  img {
    width: 3.7vw;
  }
}

#retention-btn-87 {
  left: 22%;
  top: 59%;
  img {
    width: 3.4vw;
  }
}

#retention-btn-88 {
  left: 20%;
  top: 59%;
  img {
    width: 2.7vw;
  }
}
