.teethBackground1 {
  position: relative;
  width: 21.9vw;
  aspect-ratio: 459 / 700;
  left: 40.96vw;
  top: 14vh;
  background: #d3ecff;
  border-radius: 2.6vw;
}

.teeth-btn {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.teeth-btn:hover {
  transform: scale(1.2);
}

.teeth-btn:nth-child(1) {
  width: 2.5vw;
  height: 2vw;
  left: 19%;
  top: 40.83%;
}

.teeth-btn:nth-child(2) {
  width: 2.5vw;
  height: 2vw;
  left: 19.6%;
  top: 35.5%;
}

.teeth-btn:nth-child(3) {
  width: 2.3vw;
  height: 2.3vw;
  left: 20%;
  top: 29.5%;
}

.teeth-btn:nth-child(4) {
  width: 2.5vw;
  height: 2vw;
  left: 21%;
  top: 24.5%;
}

.teeth-btn:nth-child(5) {
  width: 2.5vw;
  height: 2vw;
  left: 23%;
  top: 19.5%;
}

.teeth-btn:nth-child(6) {
  width: 2vw;
  height: 2vw;
  left: 26%;
  top: 14%;
}

.teeth-btn:nth-child(7) {
  width: 2vw;
  height: 2.3vw;
  left: 33%;
  top: 10.5%;
}

.teeth-btn:nth-child(8) {
  width: 2vw;
  height: 2.1vw;
  left: 40%;
  top: 9%;
}

.teeth-btn:nth-child(9) {
  width: 2vw;
  height: 2.1vw;
  left: 48%;
  top: 9%;
}

.teeth-btn:nth-child(10) {
  width: 2vw;
  height: 2.3vw;
  left: 56%;
  top: 10.5%;
}

.teeth-btn:nth-child(11) {
  width: 2vw;
  height: 2vw;
  left: 63%;
  top: 14%;
}

.teeth-btn:nth-child(12) {
  width: 2.5vw;
  height: 2vw;
  left: 65%;
  top: 19.5%;
}

.teeth-btn:nth-child(13) {
  width: 2.5vw;
  height: 2vw;
  left: 67%;
  top: 24.5%;
}

.teeth-btn:nth-child(14) {
  width: 2.3vw;
  height: 2.3vw;
  left: 68%;
  top: 29.5%;
}

.teeth-btn:nth-child(15) {
  width: 2.5vw;
  height: 2vw;
  left: 68%;
  top: 35.5%;
}

.teeth-btn:nth-child(16) {
  width: 2.5vw;
  height: 2vw;
  left: 68%;
  top: 40.83%;
}

/*lower half*/

.teeth-btn:nth-child(17) {
  width: 2.7vw;
  height: 2.7vw;
  left: 68%;
  top: 52%;
}

.teeth-btn:nth-child(18) {
  width: 2.9vw;
  height: 2.9vw;
  left: 66.5%;
  top: 59.5%;
}

.teeth-btn:nth-child(19) {
  width: 2.7vw;
  height: 2.7vw;
  left: 65%;
  top: 67%;
}

.teeth-btn:nth-child(20) {
  width: 2vw;
  height: 2vw;
  left: 64%;
  top: 74.5%;
}

.teeth-btn:nth-child(21) {
  width: 2vw;
  height: 2vw;
  left: 62%;
  top: 79%;
}

.teeth-btn:nth-child(22) {
  width: 1.5vw;
  height: 1.5vw;
  left: 59%;
  top: 83%;
}

.teeth-btn:nth-child(23) {
  width: 1.5vw;
  height: 1.9vw;
  left: 54%;
  top: 84%;
}

.teeth-btn:nth-child(24) {
  width: 1.5vw;
  height: 1.9vw;
  left: 47.5%;
  top: 85%;
}

.teeth-btn:nth-child(25) {
  width: 1.5vw;
  height: 1.9vw;
  left: 41%;
  top: 85%;
}

.teeth-btn:nth-child(26) {
  width: 1.5vw;
  height: 1.9vw;
  left: 35%;
  top: 84%;
}

.teeth-btn:nth-child(27) {
  width: 1.7vw;
  height: 1.7vw;
  left: 29%;
  top: 83%;
}

.teeth-btn:nth-child(28) {
  width: 2vw;
  height: 2vw;
  left: 25%;
  top: 79%;
}

.teeth-btn:nth-child(29) {
  width: 2vw;
  height: 2vw;
  left: 23%;
  top: 74%;
}

.teeth-btn:nth-child(30) {
  width: 2.7vw;
  height: 2.7vw;
  left: 20.7%;
  top: 67%;
}

.teeth-btn:nth-child(31) {
  width: 2.9vw;
  height: 2.9vw;
  left: 19%;
  top: 59%;
}

.teeth-btn:nth-child(32) {
  width: 2.7vw;
  height: 2.7vw;
  left: 19%;
  top: 52%;
}
