.teethBackground2 {
  position: relative;
  width: 23.9vw;
  margin: 0;
  padding: 0;
  aspect-ratio: 459 / 700;
  left: 40.96vw;
  top: 50vh;
  background: #d3ecff;
  border-radius: 2.6vw;
  background-image: url(./image.png);
  background-size: cover;
}

.teeth-btn {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background: transparent;
  margin: 0;
  padding: 0;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 10;

  img {
    width: 2.3vw;
  }
}

.teeth-btn.selected {
  opacity: 0.5;
}
.teeth-btn.missing {

  filter: sepia(100%) saturate(290%) hue-rotate(26deg) brightness(0.9);
}
.teeth-btn:hover {
  opacity: 0.6; /*reduced opacity on hover */
}

.teeth-btn:nth-child(1) {
  left: 19.5%;
  top: 40.83%;
  img {
    width: 3.1vw;
  }
}

.teeth-btn:nth-child(2) {
  left: 20.6%;
  top: 34%;
  img {
    width: 3vw;
  }
}

.teeth-btn:nth-child(3) {
  left: 22%;
  top: 26%;
  img {
    width: 3vw;
  }
}

.teeth-btn:nth-child(4) {
  left: 24%;
  top: 21.3%;
  img {
    width: 2.4vw;
  }
}

.teeth-btn:nth-child(5) {
  left: 25%;
  top: 15.5%;
  img {
    width: 2.5vw;
  }
}

.teeth-btn:nth-child(6) {
  left: 28%;
  top: 10%;
  img {
    width: 2vw;
  }
}

.teeth-btn:nth-child(7) {
  left: 32%;
  top: 5%;
  img {
    width: 2.2vw;
  }
}

.teeth-btn:nth-child(8) {
  left: 40.6%;
  top: 3%;
  img {
    width: 2.56vw;
  }
}

.teeth-btn:nth-child(9) {
  left: 51.5%;
  top: 3.3%;
  img {
    width: 2.5vw;
  }
}

.teeth-btn:nth-child(10) {
  left: 62%;
  top: 5%;
  img {
    width: 2.1vw;
  }
}

.teeth-btn:nth-child(11) {
  left: 67%;
  top: 10%;
  img {
    width: 2vw;
  }
}

.teeth-btn:nth-child(12) {
  left: 67.5%;
  top: 15.5%;
  img {
    width: 2.5vw;
  }
}

.teeth-btn:nth-child(13) {
  left: 69%;
  top: 21%;
  img {
    width: 2.5vw;
  }
}

.teeth-btn:nth-child(14) {
  left: 68.5%;
  top: 26%;
  img {
    width: 3vw;
  }
}

.teeth-btn:nth-child(15) {
  left: 70%;
  top: 34%;
  img {
    width: 3vw;
  }
}

.teeth-btn:nth-child(16) {
  left: 70.5%;
  top: 40.83%;
  img {
    width: 3vw;
  }
}

/*lower half*/

.teeth-btn:nth-child(17) {
  left: 70%;
  top: 53.5%;
  img {
    width: 2.5vw;
  }
}

.teeth-btn:nth-child(18) {
  left: 69%;
  top: 60.5%;
  img {
    width: 3vw;
  }
}

.teeth-btn:nth-child(19) {
  left: 68%;
  top: 68%;
  img {
    width: 3vw;
  }
}

.teeth-btn:nth-child(20) {
  left: 68%;
  top: 76.5%;
  img {
    width: 2.5vw;
  }
}

.teeth-btn:nth-child(21) {
  left: 65%;
  top: 82.5%;
  img {
    width: 2.3vw;
  }
}

.teeth-btn:nth-child(22) {
  left: 63%;
  top: 87.5%;
  img {
    width: 2vw;
  }
}

.teeth-btn:nth-child(23) {
  left: 57%;
  top: 89%;
  img {
    width: 1.7vw;
  }
}

.teeth-btn:nth-child(24) {
  left: 50.5%;
  top: 90.3%;
  img {
    width: 1.6vw;
  }
}

.teeth-btn:nth-child(25) {
  left: 43.7%;
  top: 90.2%;
  img {
    width: 1.6vw;
  }
}

.teeth-btn:nth-child(26) {
  left: 37.5%;
  top: 89.2%;
  img {
    width: 1.68vw;
  }
}

.teeth-btn:nth-child(27) {
  left: 31%;
  top: 87.5%;
  img {
    width: 2vw;
  }
}

.teeth-btn:nth-child(28) {
  left: 27.5%;
  top: 82.7%;
  img {
    width: 2.18vw;
  }
}

.teeth-btn:nth-child(29) {
  left: 24.5%;
  top: 76.5%;
  img {
    width: 2.6vw;
  }
}

.teeth-btn:nth-child(30) {
  left: 22.7%;
  top: 68%;
  img {
    width: 3vw;
  }
}

.teeth-btn:nth-child(31) {
  left: 21%;
  top: 60.5%;
  img {
    width: 3vw;
  }
}

.teeth-btn:nth-child(32) {
  left: 21.9%;
  top: 53.5%;
  img {
    width: 2.44vw;
  }
}
