body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.signuppage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-90deg, #2f5770 -1.26%, #609c94 100%);
}
.signuppage::before {
  content: "";
  position: absolute;
  top: 12.625vh;
  left: 49.967vw;
  width: 45.291vw;
  height: 34.335vw;
  background-image: url(./signupbackground.png);
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: 0;
}
.contentbox2 {
  position: absolute;
  width: 41.5vw;
  height: 40.414vw;
  left: 55vw;
  top: 3.006vw;
  background: #d9d9d9;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.45);
  border-radius: 3.34vw;
}
.signinput {
  position: absolute;
  width: 20.228vw;
  height: 3.804vw;
  line-height: 0;
  left: 5vw;
  h5 {
    position: absolute;
    left: 20vw;
    height: 4vw;
    width: 18vw;
  }
}

.swt-popup {
  width: 25vw;
  height: 15vw;
  border-radius: 3vw;
  font-family: "salsa";
  line-height: normal;
  margin: 0;
}
.swt-text {
  position: absolute;
  font-size: 2vw;
  margin: 0;
  padding: 0;
  width: 20vw;
  left: 2.5vw;
  top: 4vw;
  color: rgb(255, 82, 82);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.swt-text1 {
  position: absolute;
  font-size: 2vw;
  margin: 0;
  padding: 0;
  width: 20vw;
  left: 2.5vw;
  top: 1.6vw;
  color: rgb(255, 82, 82);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.custom-ok {
  background-color: #3085d6;
  color: rgb(34, 18, 18);
  border: none;
  border-radius: 2vw;
  padding: 0;
  width: 5vw;
  height: 3vw;
  font-size: 3vw;
}

.signinput input {
  box-sizing: border-box;

  position: absolute;
  width: 21.109vw;
  height: 2vw;
  left: 0;
  top: 1.9vw;

  background: #d3ebdd;
  mix-blend-mode: multiply;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-family: "salsa";
  font-size: 1.3vw;
}
.signinput input:focus {
  font-family: "salsa";
  font-size: 1.3vw;
}
.signhead {
  position: absolute;
  width: 21.109vw;
  height: 2.004vw;
  left: 0vw;
  top: 0vw;

  font-family: "Salsa";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 0px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  color: #0c4b29;
}
.role {
  position: absolute;
  width: 18.838vw;
  height: 6.004vw;
  left: 30vw;
  top: 7.018vw;

  font-family: "Salsa";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.937vw;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #0c4b29;
}
.eyeicon {
  position: absolute;
  top: 2.3vw;
  left: 19.5vw;
  cursor: pointer;
}
#Student1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5vw;
  left: 3vw;
  cursor: pointer;
}
#Student2 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 4.5vw;
  left: 4.5vw;
}
#Assessor1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 7.5vw;
  left: 3vw;
  cursor: pointer;
}
#Assessor2 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 7vw;
  left: 4.5vw;
}
.header2 {
  position: absolute;
  width: 36.473vw;
  height: 4.676vw;
  left: 6.804vw;
  top: 1.14vw;
  margin: 0;
  padding: 0;

  font-family: "Salsa";
  font-style: normal;
  font-weight: 400;
  font-size: 3.206vw;
  line-height: 3.941vw;
  display: flex;
  align-items: center;
  text-align: center;

  color: #0c4b29;
}
#signinput1 {
  top:5.5vw;
}
#signinput2 {
  top: 10vw;
}
#signinput3 {
  top: 14.5vw;
}
#signinput4 {
  top: 19vw;
}
#signinput5 {
  top: 23.5vw;
  input::placeholder {
    font-size: 0.8vw;
    text-align: center;
  }
}
#signinput6 {
  top: 28vw;
}
.sign2 {
  position: absolute;
  top: 36.5vw;
  left: 50%;
  transform: translateX(-50%);
  width: 13vw;
  height: 3vw;
  background: #519b97;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 1vw;
  font-family: "Salsa";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7vw;
  line-height: 134.77%;
  border: none;
  color: #0c4b29;
  cursor: pointer;
}

.sign2:hover {
  background-color: #1ec4b9;
  cursor: pointer;

}
.sign2:hover::after {
  transition: all 0.5s ease;
}

.custom-google-btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #388581; /* your theme color */
  color: white;
  border: none;
  border-radius: 0.8vw;
  padding: 12px 20px;
  font-size: 1.3vw;
  font-family: "Salsa";
  cursor: pointer;
  transition: 0.2s;
  gap: 0.7vw;
  position: absolute;
  top: 33vw;
  left: 50%;
  transform: translateX(-50%);
}


.custom-google-btn2:hover {
  background-color: #224259;
  cursor: pointer;
}

.google-icon {
  width: 20px;
  height: 20px;
}
