.Done {
  position: absolute;
  width: 9.14vw;
  height: 3.37vw;
  left: 26vw;
  top: 33vw;
  border-radius: 1vw;
  background: #66d8d8;
  box-shadow: 0.67vw 0.53vw 0.8vw rgba(0, 0, 0, 0.35);
  cursor: pointer;
  border: none;
}
.Done:hover {
  transform: scale(1.03);
  transition: all 0.5s ease;
}
.DoneText {
  position: absolute;
  height: 4.07vh;
  width: 40vw;
  left: 1.25vw;
  right: 0.83vw;
  top: calc(50% - 4.07vh / 2);

  font-family: "Salsa";
  font-style: normal;
  font-weight: 400;
  font-size: 1.67vw;
  line-height: 134.77%;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.AddConnectors {
  position: absolute;
  height: 4.63vh;
  left: 10vw;
  right: 49.58vw;
  width: 50vw;
  top: 0.25vw;

  font-family: "Salsa";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 134.77%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  text-align: center;
  color: #92dada;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.connectors {
  position: relative;
  width: 22.81vw;
  height: 6.39vh;
  top: 6%;

  font-family: "Salsa";
  font-style: normal;
  font-weight: 400;
  line-height: 134.77%;
  display: flex;
  align-items: center;

  color: #d1ecec;
}

.connectors:hover {
  transform: scale(1.03);
}

ul.connectors-list {
  position: absolute;
  list-style-type: none;
  left: 25%;
  font-size: 1.56vw;
  padding: 0;
  margin: 0;
}

ul.connectors-list li {
  position: absolute;
  padding-left: 0;
  white-space: nowrap;
  left: 22vw;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

ul.connectors-list li:hover {
  transform: scale(1.05);
  color: #ffffff;
  transition: all 0.5s ease;
  cursor: pointer;
}

#upper {
  top: 0vh;
}
#lower {
  position: relative;
  transition: top 0.3s ease-in-out, color 0.3s ease-in-out;
}
#major {
  position: absolute;
  left: 0vw;
}
#minor {
  position: absolute;
  left: 0vw;
  top: 5vh;
}
.lower-connector {
  transition: all 0.5s ease;
  position: absolute;
  left: 25vw;
  top: 10vh;
}
.upper-connector {
  transition: all 0.5s ease;
  position: absolute;
  left: 3vw;
  top: 3vh;
}
#upper-major {
  top: 0vh;
}
#upper-minor {
  top: 5vh;
}
