.addConnectors {
  position: absolute;
  width: 17.14vw;
  height: 3.37vw;
  left: 26vw;
  top: 33vw;
  border-radius: 1vw;
  background: #66d8d8;
  box-shadow: 0.67vw 0.53vw 0.8vw rgba(0, 0, 0, 0.35);
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.addConnectText {
  height: 4.07vh;
  width: 40vw;

  font-family: "Salsa";
  font-style: normal;
  font-weight: 400;
  font-size: 1.67vw;
  line-height: 134.77%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.AddIndirectRetentions {
  position: absolute;
  height: 4.63vh;
  left: 10vw;
  right: 49.58vw;
  width: 50vw;
  top: 0.25vw;

  font-family: "Salsa";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 134.77%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  text-align: center;
  color: #92dada;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.rests {
  position: relative;
  width: 22.81vw;
  height: 6.39vh;
  top: 6%;

  font-family: "Salsa";
  font-style: normal;
  font-weight: 400;
  line-height: 134.77%;
  display: flex;
  align-items: center;

  color: #d1ecec;
}

.rests:hover {
  transform: scale(1.05);
}

ul.rests-list {
  position: absolute;
  list-style-type: none;
  left: 30%;
  font-size: 1.56vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul.rests-list li {
  text-align: left;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

ul.rests-list li:hover {
  transform: scale(1.05);
  color: #ffffff;
}

#occlusalRestsI {
  top: 0;
}

#cingulumRestsI {
  top: 12%;
}

#incisalRestsI {
  top: 26%;
}
