.password-reset-overlay {
  width: 100vw;
  height: 100vh;
  background-color: #72a2b3;
}

.password-reset-overlay::before {
  content: "";
  position: absolute;
  top: 12.625vh;
  left: 49.967vw;
  width: 50vw;
  height: 40vw;
  background-image: url(./signupbackground.png);
  background-size: cover;
  background-position: center;
  opacity: 1;
  filter: blur(2px);
  z-index: 0;
}

.password-reset {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45vw;
  height: auto;
  padding: 1vw;
  background: #30505b;
  color: #bff9f2;
  border-radius: 2vw;
  box-shadow: 0.668vw 0.668vw 0.668vw rgba(0, 0, 0, 0.3);
  text-align: center; /* Center text horizontally */
  align-items: center;
  display: flex;
  flex-direction: column; /* Center content vertically */
  justify-content: center; /* Center content vertically */
}

.password-reset h1,
.password-reset h2,
.password-reset h4 {
  margin: 0.2vw 0;
  font-weight: 400;
}

.password-reset h1 {
  font-size: 3vw;
  font-family: "salsa";
  color: white;
}

.password-reset h2 {
  font-size: 1.8vw;
  color: #bff9f2;
}

.password-reset h4 {
  color: tomato;
  font-size: 1vw;
}

.password-reset input {
  font-size: 2vw;
  font-family: "salsa";
  height: 2.5vw;
  width: 55%; /* Make input fields take up 80% of the width */
  margin: 0vw 0; /* Add margin to space out inputs */
}

.password-reset button {
  background-color: #66d8d8;
  color: #000;
  border: none;
  border-radius: 0.8vw;
  cursor: pointer;
  font-family: "salsa";
  font-size: 1.5vw;
  margin: 2vw 0; /* Add margin to separate the button from inputs */
  box-shadow: 0.67vw 0.53vw 0.8vw rgba(0, 0, 0, 0.35);
  width: 20%;
  height: 3vw;
}

.password-reset .success {
  font-size: 2vw;
}

.password-reset .success-msg {
  font-size: 2.5vw;
  margin-bottom: 1.5vw;
}

.password-reset a {
  font-size: 1.5vw;
  color: #66d8d8;
  text-decoration: none;
  margin-top: 2vw;
}
.password-reset .highlight-username {
  color: springgreen;
}
