.homecompbtn {
  position: absolute;
  width: 32.198vw;
  height: 4.676vw;
  top: 0;
  left: 0;
  margin: 0;
  padding: auto;

  font-family: "Salsa";
  font-weight: 400;
  font-size: 2.138vw;

  color: #0a4626;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background: linear-gradient(90deg, #9adece 0%, #0b78b5 100%);

  box-shadow: 0.267vw 0.267vw 0.267vw rgba(3, 0.3, 0, 0.3);

  border-radius: 1.002vw;
  border: none;

  img {
    position: absolute;
    width: 3vw;
    left: 28vw;
    padding: 0;
    margin: 0;
  }
}
.homecompbtn:hover {
  transform: scale(1.03);
  transition: all 0.5s ease;
  cursor: pointer;
}
@media (max-width: 768px) {
  .homecompbtn {
    width: 50vw;
    height: 7vw;

    font-size: 4vw;
    img {
      position: absolute;
      width: 5vw;
      left: 43vw;
      padding: 0;
      margin: 0;
    }
  }
  .homecompbtn:hover {
    transform: scale(1.03);
    transition: all 0.5s ease;
    cursor: pointer;
  }
}
