.CreatePatientCase2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  z-index: 0;
}

.CreatePatientCase2::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    270deg,
    rgb(60 123 113) 0%,
    rgb(36 69 84) 101.07%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -3;
}

.rectangle1 {
  position: absolute;
  width: 40vw;
  height: 38vw;
  right: 5vw;
  top: 4vw;
  bottom: 6vw;
  background: #30505b;
  box-shadow: 0.67vw 0.67vw 0.74vw rgba(0, 0, 0, 0.42);
  border-radius: 3.34vw;
  z-index: -1;
}

.teethBackground {
  position: absolute;
  width: 20vw;
  height: 35vw;
  left: 19vw;
  top: 6vw;
  background: #d3ecff;
  border-radius: 3.34vw;
  z-index: -2;
}
.assessorCreate-teeth {
  position: absolute;
  left: 20vw;
  top: 12vh;
}
.rectangle2 {
  position: absolute;
  width: 36vw;
  height: 15.1vw;
  right: 7vw;
  top: 8.36vw;
  background: #a3d1d4;
  box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.3);
  border-radius: 3.21vw;
}

.text {
  position: absolute;
  top: 0vw;
  left: -0.5vw;
}

#createAPatientCase2 {
  position: absolute;
  width: 35.32vw;
  height: 4.75vw;
  left: 66vw;
  top: 9vw;
  font-family: "Salsa";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 134.77%;
  display: flex;
  align-items: center;
  color: #252724;
}

#steps2 {
  position: absolute;
  width: 30.32vw;
  height: 10.88vw;
  left: 67vw;
  top: 11.65vw;
  font-family: "Salsa";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 134.77%;
  display: flex;
  align-items: center;
  color: #252724;
}

#create1 {
  position: absolute;
}

@media (max-width: 900px) {
  .rectangle1 {
    width: 50vw;
    height: 48vw;
    top: 15vw;
  }
  .rectangle2 {
    width: 45vw;
    height: 17vw;
    top: 25vw;
  }
  .text {
    top: 15vw;
    left: -10vw;
  }
  #createAPatientCase2 {
    font-size: 3vw;
  }
  #steps2 {
    top: 13.5vw;
    font-size: 2vw;
  }
  .teethBackground {
    width: 28vw;
    height: 45vw;
    left: 10vw;
    top: 17vw;
  }
}
