.UploadAnswerHeader {
  position: absolute;
  width: 70.22vw;
  height: 3.741vw;
  left: 10vw;
  top: 0.22vw;

  font-family: "Salsa";
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 134.77%;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8ee1e1;
}
.UploadAnswerTeethBackground {
  position: absolute;
  left: -5vw;
  top: 2.152vw;
}

.UploadAnswerButton {
  position: absolute;
  width: 20vw;
  height: 3.2vw;
  margin: 0;
  left: 70vw;
  top: 40vw;

  background: #66d8d8;
  border-bottom: 0.2vw solid #000000;
  box-shadow: 0.668vw 0.534vw 0.802vw rgba(0, 0, 0, 0.35);
  border-radius: 1.336vw;
  border: none;

  font-family: "Salsa";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vw;

  align-items: center;
  text-align: center;

  color: #000000;
  text-shadow: 0vw 0.267vw 0.267vw rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.UAMButtons:hover {
  transform: scale(1.03);
}
